<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="centered-text">Welcome to My Landing Page</h1>
    <p class="centered-text">This is a responsive landing page built with Flask.</p>
    
    <img src="{{ url_for('static', filename='images/flask_logo.png') }}" alt="My Image" class="centered-image">
    
    <footer class="footer">
        <div class="footer-content">
            <div class="about-section">
                <h2>About</h2>
                <p>This is a brief description about the website or company.</p>
            </div>
            <div class="contact-section">
                <h2>Contact</h2>
                <p>Email: adrytimus@gmail.com</p>
                <p>Phone: +373 784 56 527</p>
                
                <button class="action_button" onclick="location.href='/contact'">Contact us</button>

            </div>
        </div>
    </footer>

    <script src="../../extra_cod/taste.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
